<html>

<head>
    Registration
</head>

<body>
    <form action="/login" method="POST">
        username:<input type="text" name="username"> 
        password:<input type="password" name="password"> 
        email:<input type="email" name="email"> 
        mobile:<input type="number" name="mobile">
        <input type="submit" value="login">
    </form>

</body>

</html>